name: Prepare Zephyr Release
on:
  push:
    tags:
        - 't*'

jobs:
  build:
    runs-on: ubuntu-latest


    #################   Set up Environment  #################
    #
    #   This is where we set the new MAJOR and MINOR versions
    #   for a series of releases.  This must be updated both
    #   here and in release.yml
    #
    #################   Set up Environment  #################

    env:
      CURRENT_MAJOR_VERSION: 2
      CURRENT_MINOR_VERSION: 0
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    #################   Overview of Build Process   #################
    #   Note:  this is documented fully at
    #   https://github.com/sunshower-io/zephyr/build.md
    #
    #   Versions:  most/all component versions should be stored in
    #   bom/imported/pom.xml
    #
    #   Released versions:  All exported component versions should be
    #   stored in bom/exported/pom.xml
    #
    #   Odd dependency notes:
    #   Project path: tools/zephyr-bundle/native-packages/(windows,linux,mac)
    #   Notes:  These projects depend on warp (https://github.com/dgiagio/warp/releases)
    #
    #
    #
    #
    #################   Overview of Build Process   #################

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up JDK 15
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Generate Build Number
        id: buildnumber
        uses: einaregilsson/build-number@v2
        with:
          token: ${{ secrets.github_token }}


      # Accessible via ${{ steps.finalVersion.outputs.result }}
      - name: Set Final Version Number
        id: finalVersion
        run: |
          echo ::set-env name=final_version::$CURRENT_MAJOR_VERSION.$CURRENT_MINOR_VERSION.$BUILD_NUMBER
          echo ::set-output name=result::$CURRENT_MAJOR_VERSION.$CURRENT_MINOR_VERSION.$BUILD_NUMBER.Final



      - name: Increment Bills-of-Materials
        run: >-
          mvn versions:set -f bom
          -DnewVersion=${{ steps.finalVersion.outputs.result }} &&
          mvn versions:set-property -f bom
          -Dproperty=zephyr.version -DnewVersion=${{ steps.finalVersion.outputs.result }} &&
          mvn clean install -f bom


      - name: Increment Zephyr Maven Plugin Version
        run: >-
          mvn versions:set
          -DnewVersion=${{ steps.finalVersion.outputs.result }}
          -f tools/zephyr-maven-plugin
          --settings bom/settings/settings.xml

      - name: Increment Zephyr Build Number
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_TOOL_OPTIONS: -Duser.language=en -Duser.country=US
        with:
          gradle-version: 6.7.1
          arguments: >-
            setVersion -DzephyrRelease=true
            -PmavenRepositoryUsername=${{secrets.MAVEN_REPOSITORY_USERNAME}}
            -PmavenRepositoryPassword=${{secrets.MAVEN_REPOSITORY_PASSWORD}}
            -PmavenRepositoryUrl=${{secrets.MAVEN_REPOSITORY_URL}}

      - name: Deploy Bills-Of-Materials
        run: >-
          mvn clean install deploy -f bom
          --settings bom/settings/settings.xml
          -Dsunshower-repo.username=${{secrets.MAVEN_REPOSITORY_USERNAME}}
          -Dsunshower-repo.password=${{secrets.MAVEN_REPOSITORY_PASSWORD}} -e




      - name: Build And Deploy Zephyr Projects
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_TOOL_OPTIONS: -Duser.language=en -Duser.country=US
        with:
          gradle-version: 6.7.1
          arguments: >-
            clean assemble build sA javadoc publish -i
            -PmavenRepositoryUsername=${{secrets.MAVEN_REPOSITORY_USERNAME}}
            -PmavenRepositoryPassword=${{secrets.MAVEN_REPOSITORY_PASSWORD}}
            -PmavenRepositoryUrl=${{secrets.MAVEN_RELEASE_URL}} --stacktrace


      #################   Deploy Zephyr Maven Plugin #################
      #
      #   build and deploy the zephyr maven plugin.
      #
      #   Note:  This must happen after "Build Zephyr Projects" action
      #
      #################   Deploy Zephyr Maven Plugin #################

      - name: Deploy Zephyr Maven Plugin
        run: >-
          mvn clean install deploy -f tools/zephyr-maven-plugin
          --settings bom/settings/settings.xml
          -Dsunshower-repo.username=${{secrets.MAVEN_REPOSITORY_USERNAME}}
          -Dsunshower-repo.password=${{secrets.MAVEN_REPOSITORY_PASSWORD}} -e


      - name: get commit message
        run: echo ::set-env name=commitmsg::$(git log --format=%B -n 1:2 ${{ github.event.after }})


      - name: Commit Version Changes
        run: |
          git config --local user.email "build@sunshower.io"
          git config --local user.name "build"
          git commit -am "Final Release [tag: final, version: ${{steps.finalVersion.outputs.result}}]"

      - name: Perform Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: zephyr-${{ env.final_version }}
          release_name: Zephyr-r${{ env.final_version }}

          body: |
            ** Changes in zephyr-${{ env.final_version }} **

            ${{ env.commitmsg }}

            Tag: https://github.com/sunshower-io/zephyr/releases/tag/v${{ env.final_version }}.Final
          draft: false
          prerelease: false

      - name: Upload Release Asset Zip
        id: upload-release-asset-zip
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: zephyr-main/build/distributions/zephyr-main.zip
          asset_name: zephyr-main.zip
          asset_content_type: application/zip

      - name: Upload Release Asset Tar
        id: upload-release-asset-tar
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: zephyr-main/build/distributions/zephyr-main.tar
          asset_name: zephyr-main.tar
          asset_content_type: application/x-tar


      - name: Commit Version Changes
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git tag -a v${{ steps.finalVersion.outputs.result }} -m "Releasing ${{ steps.finalVersion.outputs.result }}"
          git push origin v${{ steps.finalVersion.outputs.result }}



      #################   Rev Snapshots     #################


      - name: Generate Next Number
        id: nextbuildnumber
        uses: einaregilsson/build-number@v2
        with:
          token: ${{ secrets.github_token }}

      # Accessible via ${{ steps.snapshotVersion.outputs.result }}
      - name: Set Next Snapshot Version Number
        id: snapshotVersion
        run: |
          echo '::set-output name=result::$CURRENT_MAJOR_VERSION.$CURRENT_MINOR_VERSION.$BUILD_NUMBER-SNAPSHOT'

      - name: Increment Bills-of-Materials to Snapshots
        run: >-
          mvn versions:set -f bom
          -DnewVersion=${{ steps.snapshotVersion.outputs.result }} &&
          mvn versions:set-property -f bom
          -Dproperty=zephyr.version -DnewVersion=${{ steps.snapshotVersion.outputs.result }} &&
          mvn clean install -f bom

      - name: Increment Zephyr Maven Plugin Version
        run: >-
          mvn versions:set -DnewVersion=${{ steps.snapshotVersion.outputs.result }}
          -f tools/zephyr-maven-plugin

      - name: Increment Zephyr Build Number to Snapshot
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_TOOL_OPTIONS: -Duser.language=en -Duser.country=US
        with:
          gradle-version: 6.7.1
          arguments: >-
            setVersion -PmavenRepositoryUsername=${{secrets.MAVEN_REPOSITORY_USERNAME}}
            -PmavenRepositoryPassword=${{secrets.MAVEN_REPOSITORY_PASSWORD}}
            -PmavenRepositoryUrl=${{secrets.MAVEN_REPOSITORY_URL}}

      - name: Deploy Bills-Of-Materials
        run: >-
          mvn install deploy -f bom
          --settings bom/settings/settings.xml
          -Dsunshower-repo.username=${{secrets.MAVEN_REPOSITORY_USERNAME}}
          -Dsunshower-repo.password=${{secrets.MAVEN_REPOSITORY_PASSWORD}} -e



      - name: Build Zephyr Projects
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_TOOL_OPTIONS: -Duser.language=en -Duser.country=US
        with:
          gradle-version: 6.7.1
          arguments: >-
            clean assemble build sA javadoc publish -i
            -PmavenRepositoryUsername=${{secrets.MAVEN_REPOSITORY_USERNAME}}
            -PmavenRepositoryPassword=${{secrets.MAVEN_REPOSITORY_PASSWORD}}
            -PmavenRepositoryUrl=${{secrets.MAVEN_REPOSITORY_URL}} --stacktrace


      - name: Deploy Zephyr Maven Plugin
        run: >-
          mvn install deploy -f tools/zephyr-maven-plugin
          --settings bom/settings/settings.xml
          -Dsunshower-repo.username=${{secrets.MAVEN_REPOSITORY_USERNAME}}
          -Dsunshower-repo.password=${{secrets.MAVEN_REPOSITORY_PASSWORD}} -e

      - name: Commit Version Changes and Release
        run: |
          git config --local user.email "build@sunshower.io"
          git config --local user.name "build"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git commit -am "Releasing new Snapshot [tag: snapshot]"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete release tag
        run: |
          git push --delete origin ${GITHUB_REF##*/}

